/* @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



:root {
    --azul: #00507D;
    --celeste: #00C7DC;
    --morado: #7B0068;
    --verde: #6DC72A;
}

body {
    font-family: 'Righteous', cursive;
    margin: 0;
    padding: 0;
}

.titulo-principal {
    margin-top: 2vh;
    font-size: 80px;
    font-weight: 600;
}

article,
section {
    margin-top: 60px;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.text-morado {
    color: var(--morado);
}

.text-azul {
    color: var(--azul);
}

.text-verde {
    color: var(--verde);
}

.pic-wrapper {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

figure {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    /*animation*/
    animation: slideShow 24s linear infinite 0s;
}

.pic-1 {
    opacity: 1;
    background: url('https://2021.igem.org/wiki/images/b/b0/T--Bolivia--InclusivityAward_img1.png') no-repeat center center;
    background-size: cover;
}

.pic-2 {
    animation-delay: 6s;
    background: url('https://2021.igem.org/wiki/images/b/b0/T--Bolivia--InclusivityAward_img1.png') no-repeat center center;
    background-size: cover;
}

.pic-3 {
    animation-delay: 12s;
    background: url('https://2021.igem.org/wiki/images/b/b0/T--Bolivia--InclusivityAward_img1.png') no-repeat center center;
    background-size: cover;
}

.pic-4 {
    animation-delay: 18s;
    background: url('https://2021.igem.org/wiki/images/b/b0/T--Bolivia--InclusivityAward_img1.png') no-repeat center center;
    background-size: cover;
}


/* keyframes*/

@keyframes slideShow {
    0% {
        opacity: 0;
        transform: scale(1);
        -ms-transform: scale(1);
    }
    5% {
        opacity: 1
    }
    25% {
        opacity: 1;
    }
    30% {
        opacity: 0;
        transform: scale(1.1);
        -ms-transform: scale(1.1);
    }
    100% {
        opacity: 0;
        transform: scale(1);
        -ms-transformm: scale(1);
    }
}

.fondo-banner {
    width: 100vw;
    height: 100%;
    background-image: linear-gradient(to right, var(--azul), var(--morado));
    opacity: 0.4;
    position: absolute;
    padding-bottom: 100px;
}

.text-banner {
    width: 100vw;
    height: 100%;
    padding-bottom: 10vh;
    position: relative;
}

.fila-banner {
    padding-left: 10vw;
    z-index: 10;

}

.logo-arsenito {
    margin-left: 20px;
    width: 100px;
    height: 100px;
}

.title-small {
    color: var(--morado);
    font-weight: 600;
}

.team {
    display: flex;
    align-items: end;
    justify-content: start;
}


/* Pantalla abajo de los 750 pixeles */

@media(max-width: 767px) {
    .text-banner {
        width: 100vw;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: end;
        margin-left: 0;
        padding-bottom: 0;
    }
    .titulo-principal {
        margin-top: 2vh;
        font-size: 50px;
        font-weight: 400;
        color: white;
    }
    .team {
        display: flex;
        align-items: end;
        justify-content: center;
    }
    .text-video {
        background-color: var(--azul);
        width: 100%;
        min-height: 34vh;
        padding: 56px;
    }
    .nav-item {
        margin-left: 30px;
        font-size: 18px;
    }
    /* .fila-banner {
        padding-left: 10vw;
        z-index: 10;
        padding-left: 0;
    } */
}

.nav-item {
    margin-left: 80px;
    font-size: 18px;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: var(--celeste) !important;
}

#nav {
    background-color: transparent !important;
}



.my-nav {
    background-image: linear-gradient(to right, #7B0068, #00507D);
    opacity: 0.9;
    transition: .3s ease-in-out;
}


/* PRUEBA DE OTRAS CARD PARA COODINATORS */


.bg {
    background-image: linear-gradient( 179deg, white, #00507d5e);
    /* overflow: hidden; */
}

.bg-inv {
    background-image: linear-gradient( 3deg, white, #00507d5e);
    /* overflow: hidden; */
}


/* VIDEOSSSSSSSSSSSS */

    .card-videos{
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0px 5px 10px 0px #ccc;
        padding: 20px;
        height: 50vh;
        overflow: auto;
    }



@media only screen and (max-width: 1166px) { 
    .card-videos{
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0px 5px 10px 0px #ccc;
        padding: 20px;
        height: 39vh;
        overflow: auto;
    }   
    
}

/* Press coverage */

.press-img {
    width: 100%;
    border-radius: 10px;
    opacity: 0.9;
    transition: .3s ease-in-out
}

.press-img:hover {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 15px 2px #bfbfbfa3;
    opacity: 1;
    transform: scale(1.02);
}


/* end press */

.bg-verde {
    padding-top: 30px;
    padding-bottom: 50px;
    background-image: linear-gradient(5deg, #00c7dc17, transparent);
}

.bg-verde-inv {
    padding-bottom: 50px;
    background-image: linear-gradient(179deg, #00c7dc17, transparent);
}


/* images galery */

.hover09 {
    border-radius: 10px;
}
.hover09:hover {
    border-radius: 10px;
    transform: scale(1.05);
    transition: .3s ease-in-out;
}



/* prueba nav */
.hover-nav{
    position: relative;
}
.nav-item:after {
    position: absolute;
    opacity: 0;
    width: 0%;
    height: 2px;
    content: '';
    background: #FFF;
    transition: all 0.3s;
    left: 0px;
    bottom: 0px;
}

.nav-item:hover:after {
    opacity: 1;
    width: 100%;
}




/* ******** */
.btnVideo{
    width: 50px;
    height: 50px;
    position: relative;
    top: -50%;
    left: 45%;
 
    transform: scale(2);
    transition: .3s ease-out;
    
}


.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.pulse{
    width: 2vw;
    height: 2vw;
    background: var(--morado);
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    animation: animate-pulse 3s linear infinite;
    cursor: pointer
}
@keyframes animate-pulse{
    0%{
        box-shadow: 0 0 0 0 rgba(117, 30, 216, 0.781),  0 0 0 0 rgba(117, 30, 216, 0.575);
    }
    40%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 0 rgba(117, 30, 216, 0.603);
    }
    80%{
        box-shadow: 0 0 0 50px rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
    100%{
        box-shadow: 0 0 0 0 rgba(255,109,74,0.0),  0 0 0 30px rgba(255,109,74,0);
    }
    
}


@media only screen and (max-width :990px) {
    .nav-item {
        margin:20px
    }
}




#hexGrid {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  font-family: sans-serif;
  list-style-type: none;
}

.hex {
  position: relative;
  visibility:hidden;
  outline:1px solid transparent;
  transition: all 0.5s;
  backface-visibility: hidden;
  will-change: transform;
  transition: all 0.5s;
}
.hex::after{
  content:'';
  display:block;
  padding-bottom: 86.602%;  
}
.hexIn{
  position: absolute;
  width:96%;
  padding-bottom: 110.851%; 
  margin: 2%;
  overflow: hidden;
  visibility: hidden;
  outline:1px solid transparent; 
  
  transform: rotate3d(0,0,1,-60deg) skewY(30deg);
  transition: all 0.5s;
}
.hexIn * {
  position: absolute;
  visibility: visible;
  outline:1px solid transparent;
}
.hexLink {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    transform: skewY(-30deg) rotate3d(0,0,1,60deg);
}


.hex img {
  left: -100%;
  right: -100%;
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.hex h1 {
  width: 100%;
  padding: 5%;
  box-sizing:border-box;
  font-weight: 300;
  opacity: 0;
}

#name-person {
  color: white;
  text-transform: capitalize;
    text-align: center;
  bottom: 35%;
  padding-top:50%;
  font-size: 1.5em;
  z-index: 1;
  font-family: 'Open Sans', sans-serif;
}


.img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.img:before, .img:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  opacity: 0;
  transition: opacity 0.5s;
}
.img:before {
  background-image:  linear-gradient(2deg,var(--azul), transparent);
}



.hexLink:hover h1, .hexLink:focus h1,
.hexLink:hover p, .hexLink:focus p{
opacity:1;
transition: 0.8s;
}


.hexIn:hover .img:before,
.hexIn:hover .img:after,
.hexIn:hover .hexLink {
  opacity: 1;
}


@media (min-width:1201px) { 
    #hexGrid{
        padding-bottom: 7.4%;
        font-size: 14px;
      }
      .hex {
        width: 33.333%; 
      }
      .hex:nth-child(5n+4){ 
        margin-left:16.666%;  
      }
}

@media (max-width: 1200px) and (min-width:901px) { 
    #hexGrid{
        padding-bottom: 7.4%;
        font-size: 14px;
      }
      .hex {
        width: 33.333%; 
      }
      .hex:nth-child(5n+4){ 
        margin-left:16.666%;  
      }
}

@media (max-width: 900px) and (min-width:601px) { 
  #hexGrid{
    padding-bottom: 7.4%;
    font-size: 14px;
  }
  .hex {
    width: 33.333%; 
  }
  .hex:nth-child(5n+4){ 
    margin-left:16.666%;  
  }
}

@media (max-width: 600px) {
  #hexGrid{
    padding-bottom: 11.2%;
    font-size: 12px;
  }
  .hex {
    width: 50%;
  }
  .hex:nth-child(3n+3){
    margin-left:25%;  
  }
}

@media (max-width: 400px) {
    #hexGrid {
        font-size: 8px;
    }

}


.contenedor-carga{
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    opacity: 1;
}

.animacion{
    width: 50%;
    height: 50vh;
}